* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-items: center;
  border: 1px solid gray;
  margin-top: 40px;
  border-radius: 5px;
}

.heading {
  width: 100%;
}

.heading h1 {
  margin: 20px;
}

.play-area {
  display: grid;
  width: 100%;
  background-color: #14bdac;
}

.game-details {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.board {
  margin: 25px auto;
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 1fr 1fr 1fr;
}

.board button {
  width: 75px;
  height: 75px;
  background-color: white;
  font-size: 50px;
  border: none;
  background-color: #14bdac;
  font-weight: 900;
  color: rgb(80, 80, 80);
}

.board button:nth-child(5) {
  border: 6px solid #41a399;
}

.board button:nth-child(2) , .board button:nth-child(8){
  border-right: 6px solid #41a399;
  border-left: 6px solid #41a399;

}

.board button:nth-child(4) , .board button:nth-child(6){
  border-top: 6px solid #41a399;
  border-bottom: 6px solid #41a399;

}

.board button:focus {
  outline: none;
}

.restart-button {
  border: none;
  background-color: white;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(152, 212, 187);
  font-weight: 700;
  margin: 1rem;
  padding: 1rem;
}

.restart-button:hover{
  cursor: pointer;
}

.restart-button:focus {
  outline: none;
}

.mode-root{
  display: flex;
}

.restart-root{
  display: flex;
  justify-content: center;
}

.mode-button{
  color: green;
  display: inline;
  margin: 1rem;
  padding: 1rem;
}

.mode-button:hover {
  cursor: pointer;
}

